.top-btn {
	background-color: #F79433;
	color: white;
	padding: 10px 2px;
	padding-bottom: 20px;
	float: right;
	position: fixed;
	right: 25px;
	bottom: 25px;
	opacity: 0;
	transition: opacity 0.5s;
}

.top-btn:hover {
	color: white;
	text-decoration: none;
	background-color: #de852d;
	cursor: pointer;
}

.top-btn img {
	width: 50%;
	height: auto;
}