body {
	margin: 0;
	text-align: center;
	font-family: "Roboto";	
	background-color: #1e1e1e !important;
	color: white !important;
}

h1 {
	font-family: "Roboto Thin";
	font-weight: normal;
	font-size: 50px !important;
	padding-bottom: 0px;
	width: 75%;
	display: inline-block;
}

h2 {
	font-family: "Roboto Thin";
	font-size: 25px !important;
	padding-top: 0px;
	width: 75%;
	display: inline-block;
}

h3 {
	font-family: "Roboto Thin";
}

.body {
	padding-top: 50px;
	text-align: center;
}

.body h1 {
	display: inline;
}

.body hr {
	width: 75%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

.body td p {
	display: inline-block;
	width: 50%;
}

.footer {
	max-width: 75%;
	display: inline-block;
}

.pre-button-spacing {
	height: 40vh;
}

.body-content {
	text-align: left;
	display: inline-block;
	max-width: 50%;
}

@media only screen and (min-width: 670px) and (max-width: 1000px) {
	.pre-button-spacing {
		height: 25vh;
	}
}

@media only screen and (min-width: 500px) and (max-width: 670px) {
	.pre-button-spacing {
		height: 12vh;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 10vw !important;
	}

	h2 {
		font-size: 3vh !important;
	}

	h5 {
		font-size: 5vw !important;
	}

	button {
		font-size: 4vw !important;
	}

	body {
		font-size: 4vw !important;
	}

	#downArrow {
		width: 13vw;
		height: auto;
	}

	.menu {
		font-size: 4.5vw !important;
	}

	.pre-button-spacing {
		height: 10vh;
	}

	.body-content {
		max-width: 75%;
		width: 75%;
	}
}