/* First panel */
.first-panel {
	/* Background */
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('first-panel-background.jpeg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	color: white;
	text-align: center;
	padding: 25px;
	height: 95vh;
}

.first-panel h1 {
	padding-top: 7vh;
	padding-bottom: 0;
}

.first-panel h1, .first-panel h2, .menu {
	text-shadow: 0 0 10px black;
}

.first-panel a {
	color: inherit;
	text-decoration: none;
}

.first-panel a:hover {
	text-decoration: underline;
}

.first-panel img {
	cursor: pointer;
}

.first-panel img:hover {
	filter: brightness(0.75);
}