@font-face {
	font-family: "Roboto Thin";
	src: url('Roboto-Thin.ttf');
}

@font-face {
	font-family: "Roboto Light";
	src: url('Roboto-Light.ttf');
}

@font-face {
	font-family: "Roboto";
	src: url('Roboto-Regular.ttf');
}