/* Menu */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: right;
}

.menu li a {
	/* Make a elements without href look like links */	
	cursor: pointer;
	
	/* Add a border underneath links when you hover over them */
	border-bottom: 1px solid rgba(192, 192, 192, 0);
	-webkit-transition: border 750ms ease;
	-moz-transition: border 750ms ease;
	-ms-transition: border 750ms ease;
	-o-transition: border 750ms ease;
	transition: border 750ms ease; 
	
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
	text-decoration: none;
}

.menu .active {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}